* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
}

.main-header {
  background-color: #f5f5f5;
}
.wrap {
  min-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.name {
  display: block;
  text-align: center;
  margin: 0;
  padding: 30px;
}

.main-nav {
  margin: 0 auto;
  display: block;
  padding: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.main-nav li{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.main-nav a {
  text-decoration: none;
  color: darkgrey;
  min-width: 100%;
}

#portfolio {
  width: 90%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 789px) {



}


@media (min-width: 1024px) {



}
