* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
  color: #666;
}
a:hover {
  color: lightblue;
}
h2 {
  letter-spacing: 1px;
  color: #666;
  text-align: center;
  font-size: 25px;
  padding: 40px;
  font-family: 'Major Mono Display', monospace;
}
footer p {
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
}
h3 {
  color: #666;
  letter-spacing: 1px;
  font-size: 20px;
  padding-top: 20px;
}

.main-header {
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.name {
  display: block;
  text-align: center;
  margin: 0;
  padding: 30px;
  color: #666;
  font-family: 'Major Mono Display', monospace;
}

.main-nav {
  margin: 0 auto;
  display: block;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.main-nav li{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-nav a {
  text-decoration: none;
  color: #666;
  min-width: 100%;
  display: block;
}

.main-nav a:hover {
  color: lightblue;
}

.header-text {
  color: #a3a3a3;
  text-align: center;
  line-height: 25px;
  padding: 20px 0;
}

.header-img {
  padding-top: 40px;
  text-align: center;
}

.col {
  width: 100%;
  margin: 0;
  text-align: center;
  color: #a6a6a6;
  padding: 30px 0;
}

.col img{
  width: 100%;
}

#contact {
  background-color: #f5f5f5;
  color: #a6a6a6;
  text-align: center;
  padding-bottom: 40px;
}

strong {
  color: #666;
}
footer {
  background-color: #f5f5f5;

}

.footer-nav {
  display: none;
}

.main-footer {
  margin: 0 auto;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer p{
  float: left;
}

.footer-border {
  border-top: 1px solid #a6a6a6;
}

.main-footer .backtotop {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 789px) {
header {
  text-align: center;
}

.main-nav {
  display: inline-block;
}

.main-nav li {
  float: right;
  padding-right: 20px;
  background-color: #f5f5f5;
  display: inline-block;
}
.main-nav li a {
  display: inline-block;
}

.col {
  width: 50%;
  float: left;
  padding: 10px 10px 50px 10px;
}

.header-img img{
  float: right;
  width: 40%;
  padding-bottom: 50px;
}

.header-text {
  float: left;
  width: 60%;
  text-align: left;
  padding-right: 10px;
  padding-top: 35px;
}

.backtotop {
  display: none;
}

.footer-nav {
  padding-top: 7px;
  display: inline-block;
  list-style-type: none;
  float: right;
}
.footer-nav li {
  display: inline-block;
  padding-right: 15px;
}
}


@media (min-width: 1024px) {
header {
  text-align: left;
}

.main-nav {
  display: inline-block;
  float: right;
  padding-top: 20px;
}
.main-nav li {
  float: left;
}

.name {
  float: left;
  padding-left: 0px;
}
.header-text {
  font-size: 20px;
  line-height: 30px;
}
.col {
  width: 33%;
  float: left;
  padding: 10px 10px 50px 10px;
}

}
